/mesh_lhemi.json
/fib_slf3_right.json
/fib_atr_right.json
/fib_ilf_right.json
/mr188_overlay.nii
/mr188_fmri.nii
/right_ac_ba6_2.json
/mp2rage.nii
/fib_cc_genu.json
/fib_whole.json
/fib_str_left.json
/fib_ac06.json
/dummy.json
/fib_cc_splen.json
/config.json
/fib_cc_body.json
/right_ac_ba6.json
/fib_unc_left.json
/fib_cg_right.json
/connections.json
/elements.json
/right_ac_ba44.json
/coordinates.json
/fib_unc_right.json
/fib_cg_left.json
/fib_acp_right.json
/fib_str_right.json
/mesh_offset1.json
/test.json
/fib_acp_left.json
/fib_cst_right.json
/right_ac_ba44_2.json
/fib_ecfs_right.json
/fib_ilf_left.json
/scenes.json
/mr188_t1_pl.nii
/fib_ecfs_left.json
/fib_ac44.json
/fib_cst_left.json
/fa_rgb.nii
/fib_atr_left.json
/mr188_fa_rgb.nii
/mesh_head.json
/fib_slf3_left.json
/fib_ac_left.json
/fib_ac_right.json
/right_ac_ba6_ascii.fib
/mesh_rhemi.json
